<!DOCTYPE html>
<html>
  <head>
    <title>Techpitnator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <header class=" grid grid-cols-1 justify-items-center">
     <%= image_tag 'techtitle.png', width: 200, class:"m-10" %>
     <%= image_tag 'techpitnator.png', width: 200, class:"m-10" %>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
